{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>List groups</title>
  </head>
  <body>
    <center><h1>STUDIED</h1></center>

    <center>
        <div class="card" style="width: 18rem;">
            <ul style="background-color: burlywood;" class="list-group list-group-flush">
              <h3><li class="list-group-item">Degree</li></h3>
              <h3><li class="list-group-item">Btech</li></h3>
              <h3><li class="list-group-item">Mtech</li></h3>
            </ul>
          </div>
    </center>

    <center>
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              <h3>INTERMEDIATE</h3>
            </div>
            <ul  class="list-group list-group-flush">
              <li class="list-group-item">Mpc</li>
              <li class="list-group-item">Bipc</li>
              <li class="list-group-item">Cec</li>
            </ul>
          </div>
    </center>
    <center>
    <div class="card">
        <div class="card-header">
          <h3 style="background-color: rgb(224, 244, 129);">Header and Footer</h3>
        </div>
        <div class="card-body">
          <h3 class="card-title">Doreamon</h3>
          <p class="card-text">Nobitha is the Best Friend Of Doreamon Forever</p>
          <a href="https://www.instagram.com/_nobita_shizuka_lovers/p/C5aFPKTyc6y/" class="btn btn-primary">Doreamon page</a>
        </div>
      </div>
      </center>
    <center>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Temple</h3>
              <p class="card-text">Tirupathi Temple is very Famous</p>
              <a href="#" class="btn btn-primary">clicMe</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Hotel</h3>
              <p class="card-text">This Hotel is very Famous of AndhraFood</p>
              <a href="#" class="btn btn-primary">clickMe</a>
            </div>
          </div>
        </div>
      </div>
    </center>

    <div class="card w-75">
        <div class="card-body">
          <h3 class="card-title">Hostel</h3>
          <p class="card-text">Food Is Very Worst</p>
          <a href="#" class="btn btn-primary">clickMe</a>
        </div>
      </div>
      
      <div class="card w-50">
        <div class="card-body">
          <h3 class="card-title">Home Food</h3>
          <p class="card-text">Home food is best betterthan Hostel food</p>
          <a href="#" class="btn btn-primary">clicMe</a>
        </div>
      </div>

      <center>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Cartoon</h5>
              <p class="card-text"> Nohara died in a car accident while trying to save his younger sister. After his death, the mother Misae experienced a period of deep misery and she started sketching her lost son.</p>
              <a href="https://in.pinterest.com/meghaumrania/shinchan/" class="btn btn-primary">clickMe</a>
            </div>
          </div>
      </center>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 style="color: darkorange;" class="card-title">jspidres</h3>
          <h4><p class="card-text">Jspider is the best institute for Learning the Software Skills</p></h4>
          <a href="#" class="btn btn-primary">clickMe</a>
        </div>
      </div>
      
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h3 style="color: rgb(77, 20, 220);" class="card-title">Qspiders</h3>
          <h4><p class="card-text">Qspider is the best platform to learn software skills</p></h4>
          <a href="#" class="btn btn-warning">clickMe</a>
        </div>
      </div>
      
      <div class="card text-right" style="width: 18rem;">
        <div class="card-body">
          <h3 style="color: rgb(150, 18, 99);"  class="card-title">Pyspiders</h3>
          <h4><p class="card-text">Pyspiders is the best platform to learn software skills</p></h4>
          <a href="#" class="btn btn-success">clickMe</a>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    
  </body>
</html>